@font-face {
	font-family: "Fipps";
	src: url("../font/Fipps-Regular.otf");

	font-family: "babyblue";
	src: url("../font/babyblue.ttf");
}
body {
	background-color: #EEE;
	font-family: "babyblue";
}
header {
	background-image: url("../img/fundo.svg");
	padding: 5%;
}
header h1 {
	color: #FFF;
	font-family: "Fipps";
}
footer {
	text-align: center;
	background-color: #DDD;
}
#menuDeSelecao ul li {
	margin-top: 2%;
	padding: 1%;
	border: 2px solid #000;
	background-color: #FFF;
	list-style: none;
}
#menuDeSelecao ul li:hover {
	transition: transform 1s;
	transform: translateX(5%);
	background-color: #c6e5ff;
	font-weight: bold;
}
#menuDeSelecao ul li a{
	text-decoration: none;
	color: #000;
}
#btnMenu {
	border-color: #FFF;
	position: fixed;
		top: 1%;
		left: 1%;
	background-color: #000827;
	color: #FFF;
	font-size: 40pt;
}
#menuDeSelecao {
	position: fixed;
		top: 0;
		left: 0;
	height: 100%;
	background-color: #FFFFFF9a;
	transform: translateX(-100%);
}
#menuDeSelecao figure {
	max-width: 90%;
}
#menuDeSelecao figure img {
	border-radius: 50%;
	max-width: 100%;
}
#menuDeSelecao p:last-child{
	text-align: center;
	font-style: italic;
}
section {
	padding: 3%;
	background-color: white;
	border-radius: 5%;
	margin: 1% 3%;
}
.redes-sociais ul li{
	display: inline;
}

.redes-sociais ul li a img {
	opacity: 0.7;
	transform: scale(0.9);
}
.redes-sociais ul li a img:hover {
	transition: all 1s;
	opacity: 1;
	transform: scale(1.1);
}
#idiomas ul li {
	border: 0;
	display: inline;
}
#idiomas ul li a img{
	opacity: 1;
}
#idiomas ul li a img:hover{
	transition: transform 0.6s;
	transform: scale(1.2);
}
#fotoSobre img {
	border-radius: 6%;
	max-width: 100%;
}
section#Exp h1,section#Exp h2,section#Exp h3,section#Exp h4,section#Exp h5,section#Exp h6{
	font-family: "Fipps";
	border-bottom: 1px solid #000;
}
section#Feed h2{
	border-bottom: 1px solid gray;
}
section#Feed a {
	text-decoration: none;
}
section#ini p:first-letter {
	font-size: 24pt;
	color: red;
}
#CeH abbr {
	text-decoration: none;
	color: tomato;
}
@media screen and (min-width:800px){
	body{
		margin: 0;
		padding: 0;
	}
	#fotoSobre {
		width: 19%;
		max-width: 30%;
		float: left;
	}
	#menuDeSelecao {
		width: 20%;
	}
}
@media screen and (max-width:800px){
	header h1, section, footer{
		text-align: center;
	}
	#fotoSobre {
		max-width: 90%;
	}
	section ul {
		text-align: left;
	}
	section p{
		text-align: justify;
	}
	#menuDeSelecao {
		width: 80%;
	}
}