/* Geral */
@font-face{
	font-family: "Fipps";
	src: url("../font/Fipps-Regular.otf");
}
@font-face{
	font-family: "8BIT";
	src: url("../font/8-BIT WONDER.TTF");
}
body{
    margin: 0 10%;
    background-image: url('../media/fundo.png');
    background-repeat: repeat;
}
section{
	margin: 2% 0;
}

/* CLASSE PRINCIPAL */
.balao{
	font-family: monospace;
	border-radius: 3%;
	padding: 4%;
	background-color: rgba(255,255,255,0.8);
	color: #000;
}
.balao h1{
	font-family: "8BIT";
}

/* Menu de Seleção */
.topicos{
	display: flex;
	justify-content: flex-end;
}
.topicos li{
	margin: 0 0.5%;
	font-family: "Fipps";
	display: inline-block;
	padding: 3px;
}
.topicos li a{
	text-decoration: none;
	color: #FFF;
}

/* Menu de Seleção (Específico) */
#tarja-de-info li a:hover{
	color:#F00;
}
#tarja-de-info li ul{
	display: none;
}
#tarja-de-info li ul li{
	display:block;
}
/*Botão de play */
.btn-Joystick{
	text-decoration: none;
	color: #FFF;
	padding: 0.7em;
	background-color: #C92C61;
	font-family: "8BIT";
	text-transform: uppercase;
	text-shadow: #000 2px;
}
.btn-Joystick:hover{
	color: #C92C61;
	background-color: #FFF;
}
/* Classe - Redes Sociais */
.redes-sociais li{
	display: inline-block;
}

/* Menu lateral de Redes Sociais */
#destaque-redes-sociais li{
	list-style: none;
	display: block;
}
#destaque-redes-sociais li span{
	visibility: hidden;
	font-family: 'Courier New', Courier, monospace;
	position: relative;
		top: -1em;
	padding: 0.5em 1em 0.5em 0;
	border: 1px solid #000;
	background-color: #FFF;
	color: black;
}
#destaque-redes-sociais li:hover{
	transition: all 1s;
}
/* Isso tá uma bagunça */
footer{
	font-family: sans-serif;
	padding: 1%;
	background-color: #eee;
	color: #000;
	text-align: center;
}
footer a{
	text-decoration: none;
	font-weight: 600;
	color: #C92C61;
}
footer a:hover{
	color: red;
}
@media only screen and (min-width:800px){
	#NightLabs-Logo{
		width: 50%;
	}
	#NightLabs-Logo img{
		width: 100%;
	}
	#destaque-redes-sociais{
		float: left;
		position: fixed;
			left:0;
	}
	#foto-feia{
		float: left;
		width:35%;
	}
	#foto-feia img{
		width:100%;
	}
}
@media only screen and (max-width:800px){
	figure {
		width: 100%;
	}
	figure img{
		width: 100%;
	}
	#destaque-redes-sociais{
		display: none;
	}
	/* Minha foto feia */
	#foto-feia{
		width:80%;
	}
	#foto-feia img{
		width: 100%;
	}
}