@font-face{
    font-family: "Fipps";
    src: url("../font/Fipps-Regular.otf");

    font-family: "8BIT";
    src: url("../font/8-BIT WONDER.TTF");

    font-family: "babyblue";
    src: url("../font/babyblue.ttf");
}
body{
    background-image: url("../media/night.gif");
}
section {
    margin: 1em 0;
}
section h1{
    font-family: "Lucida Console","Verdana";
    border-bottom: 2px solid white;
    text-align: center;
    color: white;
}
section h2{
    font-family: "Calibri","Helvetica";
    color:orange;
}
section h3{
    font-family: "Helvetica",sans-serif;
    color: lightgray;
}
#CeH ul li{
    font-family: "Calibri",sans-serif;
    color: white;
}
section p{
    font-family: "Arial";
    color: white;
    text-align: justify;
    text-indent: 3px;
}
#ModoNoturno{
    position: fixed;
        bottom: 10px;
        left: 150px;
    opacity:0.5;
}
#ModoNoturno:hover{
    opacity: 1;
}
.redes-sociais{
    list-style: none;
}
/*********************************************/
@media only screen and (max-width:800px){
    body{
        padding:0.5em;
        margin:5%;
    }
    /*IMAGEM DO CABEÇALHO */
    header figure img{
        width: 80%;
        height: 80%;
    }
    #ModoNoturno{
        width: 64px;
        height: 64px;
    }
    /*TÓPICOS PRINCIPAIS*/
    .topicos{
        font-family: "Lucida Console","Calibri","Helvetica";
        font-weight: bold;
        font-size: 1em;
        list-style: none;
    }
    .topicos a{
        text-decoration: none;
        
    }
    .topicos li{
        padding-top:1em;
        color: white;
    }
    .topicos li:hover{
        color: orange;
    }
    /*REDES SOCIAIS*/
    .redes-sociais li{
        display:inline;
    }
    .redes-sociais li a:hover{
        opacity: 0.5;
    }
}
/*********************************************/
@media only screen and (min-width:800px){
    body{
        margin:0 20px;
        background-size: cover;
    }
    header{
        background-color:black;
        border 2px solid white;
        width:103%;
    }
    header figure{
        width:200px;
        height:100px;
    }
    header figure img{
        width: 100%;
        height: 100%;
    }
    section p{
        font-family: "babyblue","Courier","Calibri Light";
        background-color:black;
        border-radius: 5px;
    }
    section h1{
        font-family: "8BIT","Lucida Console","Arial";
    }
    section h2,h3,ul{
        text-align: center;
    }
    footer{
        text-align: center;
    }
    #ModoNoturno img{
        width: 100%;
        height: 100%;
    }
    #ModoNoturno{
        width:100px;
        height:100px;
        position: fixed;
            bottom:10px;
            margin-left:80%;
    }
    .topicos{
        text-align: right;
        position: relative;
            top:0;
    }
    .topicos li{
        font-family:"Fipps","Verdana";
        display: inline-block;
        text-decoration: none;
        color:whitesmoke;
        padding-right:2em;
    }
    .topicos li:hover{
        color:red;
    }
    .redes-sociais{
        position:fixed;
            top: 50%;
            left: -66px;
    }
    .redes-sociais li{
        opacity:0.5;
    }
    .redes-sociais li:hover{
        opacity:1;
        transition: ease-out 1.3s;
        margin-left:30px;
    }
}