/* PASTAS */
li.pasta_artes {
    list-style-image: url('../img/listas/pastas/Pasta_artes.png');
}
li.pasta_blog {
    list-style-image: url('../img/listas/pastas/Pasta_blog.png');
}
li.pasta_etc {
    list-style-image: url('../img/listas/pastas/Pasta_etc.png');
}
li.pasta_jogo {
    list-style-image: url('../img/listas/pastas/Pasta_jogo.png');
}
li.pasta_musica {
    list-style-image: url('../img/listas/pastas/Pasta_musica.png');
}
li.pasta_software {
    list-style-image: url('../img/listas/pastas/Pasta_software.png');
}
li.pasta_video {
    list-style-image: url('../img/listas/pastas/Pasta_video.png');
}

/* ARQUIVOS */
li.arquivo_arte {
    list-style-image: url('../img/listas/itens/Arquivo_arte.png');
}
li.arquivo_blog {
    list-style-image: url('../img/listas/itens/Arquivo_blog.png');
}
li.arquivo_etc {
    list-style-image: url('../img/listas/itens/Arquivo_etc.png');
}
li.arquivo_jogo {
    list-style-image: url('../img/listas/itens/Arquivo_jogo.png');
}
li.arquivo_musica {
    list-style-image: url('../img/listas/itens/Arquivo_musica.png');
}
li.arquivo_software {
    list-style-image: url('../img/listas/itens/Arquivo_programa.png');
}
li.arquivo_video {
    list-style-image: url('../img/listas/itens/Arquivo_video.png');
}