@font-face {
	font-family: 'GNU Font';
	src: url('../font/GnuUnifontFull-Pm9P.ttf');
}
ul {
	list-style: none;
}
a {
	text-decoration: none;
	color: #B3B3FF;
}
a:hover {
	text-decoration: underline;
}
p {
	text-indent: 5%;
}
body {
	background-image: url('../img/geral/fundo.png');
	font-family: 'GNU Font',monospace;
	color: #FFF;
	margin: 5% 5%;
}
header {
	padding-top: 20%;
	transition: all 0.8s;
	position: fixed;
		top: 0;
		left: -55%;
	width: 50%;
	height: 100%;
	text-align: left;
}
header,footer {
	background-color: #000000B7;
}
footer {
	padding: 1%;
	margin-top: 2%;
	text-align: center;
}
img {
	max-width: 100%;
}
img#btnMenu {
	max-width: 64px;
	position: fixed;
		top: 1%;
		left: 1%;
	opacity: 0.85;
}
img#btnMenu:hover {
	transition: all 0.8s;
	opacity: 1;
}
header nav ul li {
	margin-top: 6%;
	border: 2px solid #FFF;
	padding: 1%;
}
header nav ul li:last-child {
	border: none;
}
header nav ul li a {
	color: #FFF;
}
section {
	margin: 2% 0;
}
section#lang {
	text-align: center;
}
section#lang nav ul li {
	text-align: left;
	margin-top: 3%;
	padding: 4%;
	border: 2px solid #FFF;
	background-color: #000000B7;
}
section.CartaoSite {
	padding: 2%;
	border-radius: 2%;
	background-color: #000000B7;
}
select option {
	font-family: 'GNU Font';
}
.Midias_sociais ul li{
	display: inline;
}
#zeroFooter {
	text-align: center;
}
#foto img {
	max-width: 100%;
	border-radius: 10%;
}
#Bio {
	text-align: justify;
}
.indexCartaoDeApresentacao iframe{
	width: 100%;
	height: 100%;
}
.indexCartaoDeApresentacao figcaption {
	width: max-content;
	text-align: center;
	background-color: #FFF;
	color: #000;
}
.listaIndex li{
	display: inline-block;
}
.CartaoSite {
	display: none;
}
section#ini {
	display: block;
	text-align: center;
}
/* Exceções para PC */
@media screen and (min-width:1100px) {
	header {
		padding-top: 5%;
	}
	section#lang nav ul li {
		opacity: 0.7;
	}
	section#lang nav ul li:hover {
		transition: all 0.7s;
		opacity: 1;
	}
	footer {
		text-align: right;
	}
	.Midias_sociais ul li a img {
		opacity: 0.8;
	}
	.Midias_sociais ul li a img:hover {
		transition: all 0.6s;
		transform: translateY(-3%);
		opacity: 1;
	}
	#foto img {
		max-width: 20%;
	}
	.indexCartaoDeApresentacao iframe{
		width: 350px;
		height: 550px;
	}
}