html
{
    background-color: purple;
}
body
{
    margin: 0 5%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, 'DejaVu Sans' ,sans-serif;
    font-weight: lighter;
    background-color: #EEE;
    text-align: justify;
}
header
{
    text-align: left;
    margin-left: 3%;
}
footer
{
    background-color: #000;
    color: #eee;
}
header,section,footer
{
    padding: 1.5% 3%;
}
#logo
{
    max-width: 480px;
}
/* Menu de opções */
#menu
{
    padding: 2%;
}
#menu ul li
{
    padding: 0.5%;
    margin: 0.5%;
    width: 25%;
    list-style: none;
    border: 2px solid #000;
}
#menu ul li:hover
{
    transition: cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.5s;
    transform:translateX(5%);
    background-color: #FFF;
    color: purple;
}
#menu ul a
{
    text-decoration: none;
    color: #000;
}
/* ------------------ */