*
{
    margin: 0;
    padding: 0;
}
@font-face
{
    font-family: "Minecraft";
    src: url("../font/Minecraft.ttf");
}
html
{ 
    font-family: "Minecraft",monospace;
    text-align: center;

    color: #fff;
    background-color: #641b2f;
    font-weight: lighter;
}
figure, img
{
    max-width: 100%;
}
section
{
    text-align: justify;
    margin: 2% 4%;
}
footer 
{
    padding: 5%;
    background-color: black;
    color: white;
}
#logo 
{
    background-color: #FFF;
}
#alerta_site_temporario
{
    margin: 0;
    background-color: pink;
    color: darkred;
    text-align: center;
}
.menu ul 
{
    list-style: none;
}
.menu ul li
{
    background-color: #FFF;
    padding: 1%;
    border: 2px solid #000;
}
.bussola
{
    margin: 0;
    padding: 1%;
    background-color: lightblue;
    color: darkblue;
}
#menu_index
{
    text-align: center;
}
#menu_index nav ul a
{
    color: darkred;
    text-decoration: none;
}
#menu_index nav ul li
{
    margin-top: 4%;
}
#menu_index nav ul a:hover
{
    color: #FFF;
    text-decoration: underline;
}
#menu_index nav ul a:hover li
{
    background-color: darkred;
}
#menu_cabecalho
{
    padding-bottom: 2%;
    background-color: #FFF;
}
#menu_cabecalho ul li
{
    margin-top: 0;
    padding: 2%;
}
#menu_cabecalho a
{
    text-decoration: none;
    color: purple;
}